<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebar(menu)">
    <aside class="mypage-sidebar">
        <div class="profile-section">
            <i class="fas fa-user-circle profile-icon"></i>
            <div class="profile-text">프로필</div>
        </div>
        <ul class="sidebar-menu">
            <li>
                <a href="/user/my/dashboard" th:classappend="${menu == 'dashboard'} ? 'active'">
                    <i class="fas fa-chart-bar"></i> 대시보드
                </a>
            </li>
            <li>
                <a href="/user/my/lecture" th:classappend="${menu == 'lecture'} ? 'active'">
                    <i class="fas fa-book"></i> 내 학습
                </a>
            </li>
            <li>
                <a href="/user/my/payrec" th:classappend="${menu == 'payrec'} ? 'active'">
                    <i class="fas fa-receipt"></i> 구매 내역
                </a>
            </li>
            <li><a href="#"><i class="fas fa-pen"></i> 작성한 게시글</a></li>
            <li><a href="#"><i class="fas fa-cog"></i> 설정</a></li>
        </ul>
    </aside>
</div>
</html>