<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebar(menu)">
    <aside class="mypage-sidebar">
        <!-- <div class="profile-section">
            <i class="fas fa-user-circle profile-icon"></i>
            <div class="profile-text">프로필</div>
        </div> -->
        <ul class="sidebar-menu">
        
        	<!-- 프로필 -->
        	<li>
        		<a href="/user/my/profile" th:classappend="${menu == 'profile'} ? 'active'">
        			<i class="fas fa-user-circle profile-icon"></i> 프로필
        		</a>
        	</li>
        	
        	<!-- 대시보드 -->
            <li>
                <a href="/user/my/dashboard" th:classappend="${menu == 'dashboard'} ? 'active'">
                    <i class="fas fa-chart-bar"></i> 대시보드
                </a>
            </li>
            
            <!-- 내 학습 -->
            <li>
                <a href="/user/my/lecture" th:classappend="${menu == 'lecture'} ? 'active'">
                    <i class="fas fa-book"></i> 내 학습
                </a>
            </li>
            
            <!-- 구매내역 -->
            <li>
                <a href="/user/my/payrec" th:classappend="${menu == 'payrec'} ? 'active'">
                    <i class="fas fa-receipt"></i> 구매 내역
                </a>
            </li>
            
            <!-- 작성한 게시글 -->
            <li>
            	<a href="/lecture/review/reviewList?lectId=L1&currentPage=1">
            		<i class="fas fa-pen"></i> 작성한 게시글
            	</a>
            </li>
            
            <!-- 설정 -->
            <li>
            	<a href="/user/my/setting">
            		<i class="fas fa-cog"></i> 설정
            	</a>
            </li>
            
            
        </ul>
    </aside>
</div>
</html>