<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.common.lecture.CommonLectureMapper">

	<!--검색 필드용 카테고리 조회-->
	<select id="selectAllCategories" resultType="categoryDomain">
	    SELECT cat_id as catId, name 
	    FROM   category
	    ORDER BY name ASC
	</select>
	<!--검색 핃드용 스킬 조회, 아이디 없이 이름만 중복 제외하고 조회한다.-->
	<select id="selectAllSkills" resultType="skillDomain">
	    SELECT  distinct name <!--, skill_id as skillId-->
	    FROM   RELATIVE_SKILL
		<where>
	        <if test="lectId != null and lectId != ''">
	            lect_id = #{lectId}
	        </if>
	    </where>
	    ORDER BY name ASC
	</select>
	
	<!--myLecture에서 학생이 해당 강의를 수강하는지 개수를 체크한다. -->
	<select id="selectMyLectureCount" resultType="int">
	    SELECT  COUNT(*)
	    FROM   MY_LECTURE
	    WHERE USER_ID=#{userId} AND LECT_ID=#{lectId}
	</select>
</mapper>