<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- /kr/co/sist/user/lecture/chapter/ChapterMapper.java  -->
<mapper namespace="kr.co.sist.user.lecture.chapter.ChapterMapper">
	<!--테스트용-->
	<select id="selectTest" resultType="int">
		select chptr_id
		from   CHAPTER
	</select>

	
	<!--
	강의id로 수강 강의표 조회
		진척,동영상 등은 제외
		강의 상세에서 보여줄 용도
	-->
	<select id="selectChapterList" parameterType="String" resultType="chapterDomain">
	select chptr_id, name, length, regdate, doc
	from   chapter
	where lect_id=#{lectId}
	</select>
	
		
	<!--학생id, 강의id로 수강 강의표 진척까지 조회-->
	<select id="selectChapterProgress" parameterType="chapterDTO" resultType="stuChapterDomain">
		select 
	        c.chptr_id as chptrId, c.name, c.length, c.regdate, c.doc, c.video,
	        nvl(m.progress, 0) as progress,
	        nvl(m.state, 0) as state
	    from 
	        chapter c
	    left join 
	        my_chapter m on c.chptr_id = m.chptr_id 
	        and m.user_id = #{userId}
	    where 
	        c.lect_id = #{lectId}
	    order by 
	        c.num asc
	</select>
	
		
	<!--
	사용처 : 동영상 시청용 데이터 조회
	입력값 : 학생id, LectId
	결과값 : 해당 lect에 대한 수강 진척 리스트.
	-->
	<select id="selectVideoData" parameterType="chapterDTO" resultType="videoDomain2">
		select 
	        m.user_id as stuId, c.chptr_id as chptrId, c.name as title, c.length as videoLength, c.video as videoUrl, c.num,
	        nvl(m.progtime, 0) as progtime,
			nvl(m.progress, 0) as progress,
	        nvl(m.state, 0) as state
	    from 
	        chapter c
	    left join 
	        my_chapter m on c.chptr_id = m.chptr_id 
	        and m.user_id = #{userId}
	    where 
	        c.lect_id = #{lectId}	
	    order by 
	        c.num asc
	</select>	
</mapper>