<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block th:replace = "~{/fragments/cdn :: cdn}"/>
<style type = "text/css">
#wrap{margin: 0px auto; width: 1200px; height: 1000px;}
#header{height: 150px;}
#container{height: 700px;}
#footer{height: 150px;}

a{color: #000000; text-decoration: none;}
a:hover{color: #808080; text-decoration: none;}

/* 게시판 pagination 디자인 */
.prevMark{color: #FF0000;}
.nextMark{color: #FF0000;}
.currentPage{font-size: 20px; font-weight: bold;}
.notCurrentPage{font-size: 18px; font-weight: normal;}
</style>
<script type="text/javascript">
$(function() {
	$("#btnWrite").click(function() {
		/* 
		var currentPage = $("#currentPage").val();
		location.href = "/announcement/writeFrm?currentPage=" + currentPage;
		*/
		location.href = "/admin/announcement/writeFrm?currentPage=[[${param.currentPage}]]";
	}); // click
	
	$("#btnSearch").click(function() {
		searchAnnouncement();
	}); // click
	
	$("#keyword").keyup(function(evt) {
		if(evt.which == 13) {
			searchAnnouncement();
		} // end if
	}); // keyup
}); // ready

function searchAnnouncement() {
	if($("#keyword").val().trim() != "") {
		$("#announcementSearchFrm").submit();
	} // end if
} // searchAnnouncement
</script>
</head>
<body>
<div id = "wrap">
<div id = "header">
</div>
<div id = "container">
<div>
	<strong>아무말 대잔치 게시판</strong>
</div>
<div id = "announcementList" style = "min-height: 500px">
	<input type = "button" value = "글쓰기" class = "btn btn-success btn-sm" id = "btnWrite"/>
	<table class = "table table-hover">
	<thead>
	<tr>
		<th style = "width: 80px">번호</th>
		<th style = "width: 450px">제목</th>
		<th style = "width: 150px">작성자 ID</th>
		<th style = "width: 80px">조회수</th>
		<th style = "width: 200px">작성일</th>
	</tr>
	</thead>
	<tbody>
	<th:block th:if = "${announcementList.empty}">
	<tr>
		<td colspan = "5" style = "text-align: center;">게시글이 없습니다.</td>
	</tr>
	</th:block>
	<tr th:each = "announcementDomain, i : ${announcementList}" th:object = "${announcementDomain}">
		<td th:text = "${listNum - i.index}">번호</td>
		<td><a th:href = "@{{url}(url = '/admin/announcement/announcementDetail', annId = *{ann_id}, currentPage = ${param.currentPage})}"><span th:text = "*{title}">제목</span></a></td>
		<td th:text = "*{adm_id}">작성자 ID</td>
		<td th:text = "*{views}">조회수</td>
		<td th:text = "*{#dates.format(regdate, 'yyyy-MM-dd EEEE')}">작성일</td>
	</tr>
	</tbody>
	</table>
</div>
<div id = "announcementSearchDiv" style = "text-align: center">
	<form th:action = "@{/admin/announcement/announcementList}" id = "announcementSearchFrm">
	<select name = "field" id = "field" style = "height: 30px">
	<option value = "1" th:selected = "${param.field ne null and param.field[0] eq '1'}">제목</option>
	<option value = "2" th:selected = "${param.field ne null and param.field[0] eq '2'}">내용</option>
	<option value = "3" th:selected = "${param.field ne null and param.field[0] eq '3'}">작성자</option>
	</select>
	<input type = "text" name = "keyword" id = "keyword" th:value = "${param.keyword}" style = "height: 30px"/>
	<input type = "hidden" name = "currentPage" id = "currentPage" th:value = "${param.currentPage eq null ? 1 : param.currentPage}"/>
	<input type = "text" style = "display: none"/>
	<input type = "button" value = "검색" id = "btnSearch" class = "btn btn-success btn-sm"/>
	</form>
</div>
<div id = "pagination" style = "text-align: center; display: flex; justify-content: center; align-items: center;">
	<div th:utext = "${pagination}"></div>
</div>
</div>
<div id = "footer">
</div>
</div>
</body>
</html>