<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.instructor.lecture.test.InstTestMapper">

<!-- TEST테이블에 값 삽입 -->
<insert id="insertTest" parameterType="InstTestDTO">
    <selectKey keyProperty="id" resultType="string" order="BEFORE">
        SELECT 'T' || SEQ_TEST_ID.NEXTVAL FROM DUAL
    </selectKey>

    INSERT INTO test(test_id, lect_id)
    VALUES (#{id}, #{lectId})
</insert>

<!-- Test_QUESTION 테이블에 값 삽입 -->
<insert id="insertTestQuestion" parameterType="InstTestDTO">
<selectKey keyProperty="qid" resultType="string" order="BEFORE">
        SELECT 'TQ' || SEQ_TEST_QUESTION_ID.NEXTVAL FROM DUAL
</selectKey>
insert into	test_question(test_q_id,test_id,num,content,opt1,opt2,opt3,opt4,ans,exp)
values(#{qid}, #{id},(SELECT NVL(MAX(NUM), 0) + 1 FROM TEST_QUESTION WHERE TEST_ID = #{id}),#{content},#{opt1},#{opt2},#{opt3},#{opt4},#{ans},#{exp})
</insert>


<!-- 특정 강사, 강의에 대한 모든 문제 리스트 -->
<select id="selectAllInstTest" resultType="instTestDomain" parameterType="instTestViewDTO">
SELECT 
        t.TEST_ID as id,        t.LECT_ID as lectId,    tq.TEST_Q_ID as qid,        ROW_NUMBER() OVER (ORDER BY tq.NUM ASC) as num,
        tq.CONTENT as content,
        tq.OPT1 as OPT1, 
        tq.OPT2 as OPT2, 
        tq.OPT3 as OPT3, 
        tq.OPT4 as OPT4,
        tq.ANS as ANS,
        tq.EXP as EXP
    FROM 
        TEST_QUESTION tq
    JOIN TEST t ON tq.TEST_ID = t.TEST_ID
    JOIN LECTURE l ON t.LECT_ID = l.LECT_ID
    WHERE 
        l.INST_ID = #{instId}
        AND l.LECT_ID = #{lectId}
    ORDER BY tq.NUM ASC

</select>

<!-- 특정 강사, 강의에 대한 문제 하나 -->
<select id="selectOneInstTest" resultType="instTestDomain" parameterType="instTestViewDTO">
SELECT 
        t.TEST_ID as id,        t.LECT_ID as lectId,    tq.TEST_Q_ID as qid,        tq.NUM as num,
        tq.CONTENT as content,
        tq.OPT1 as OPT1, 
        tq.OPT2 as OPT2, 
        tq.OPT3 as OPT3, 
        tq.OPT4 as OPT4,
        tq.ANS as ANS,
        tq.EXP as EXP
    FROM 
        TEST_QUESTION tq
    JOIN TEST t ON tq.TEST_ID = t.TEST_ID
    JOIN LECTURE l ON t.LECT_ID = l.LECT_ID
    WHERE 
        l.INST_ID = #{instId}
        AND l.LECT_ID = #{lectId}
        AND tq.TEST_Q_ID = #{qid}
    ORDER BY tq.NUM ASC

</select>

<!-- 시험 정보 삭제하기 -->
<delete id="deleteOneInstTest" parameterType="instTestViewDTO">
DELETE FROM TEST_QUESTION
WHERE TEST_Q_ID = #{qid}
  AND TEST_ID IN (
      SELECT t.TEST_ID
      FROM TEST t
      JOIN LECTURE l ON t.LECT_ID = l.LECT_ID
      WHERE l.INST_ID = #{instId}
        AND l.LECT_ID = #{lectId}
  )
</delete>
<!-- 시험 문제 수정 기능 -->
<update id="updateInstTest" parameterType="InstTestDTO">
    UPDATE TEST_QUESTION
    SET 
        CONTENT = #{content},
        OPT1 = #{opt1},
        OPT2 = #{opt2},
        OPT3 = #{opt3},
        OPT4 = #{opt4},
        ANS = #{ans},
        EXP = #{exp}
    WHERE TEST_Q_ID = #{qid}
      AND TEST_ID = (
          SELECT t.TEST_ID
          FROM TEST t
          JOIN LECTURE l ON t.LECT_ID = l.LECT_ID
          WHERE l.INST_ID = #{instId}
            AND l.LECT_ID = #{lectId}
            AND t.TEST_ID = TEST_QUESTION.TEST_ID
      )
</update>

<!-- 이미 존재하는 시험인지 확인 -->
<select id="selectTestIdByLectId" resultType="string" parameterType="string">
    SELECT TEST_ID 
    FROM TEST 
    WHERE LECT_ID = #{lectId}
</select>

<!-- 강의 Id를 통해서 강사 Id 조회하기. -->
<select id="selectInstId" resultType="string" parameterType="string">
select inst_id
from lecture
where lect_id = #{lectId}
</select>

<!-- 번호 재정렬(삭제 등 하면 번호 꼬임 증상 발생) -->
<update id="updateTestNum" parameterType="instTestViewDTO">
    UPDATE TEST_QUESTION 
    SET NUM = (
        SELECT new_num 
        FROM (
            SELECT TEST_Q_ID, ROW_NUMBER() OVER (ORDER BY NUM ASC) as new_num 
            FROM TEST_QUESTION 
            WHERE TEST_ID = (SELECT TEST_ID FROM TEST WHERE LECT_ID = #{lectId})
        ) t2 
        WHERE t2.TEST_Q_ID = TEST_QUESTION.TEST_Q_ID
    )
    WHERE TEST_ID = (SELECT TEST_ID FROM TEST WHERE LECT_ID = #{lectId})
</update>
</mapper>